<footer class="bg-dark-subtle container-fluid text-white text-center pt-1 d-flex flex-column justify-content-center">
    <ul class="list-inline list-unstyled d-flex justify-content-center pt-1 p-0 m-0">
        <li class="list-inline-item"><a class="link-secondary text-decoration-none" href="/privacidad">Privacidad</a></li>
        <li class="list-inline-item"><a class="link-secondary text-decoration-none" href="/cookies">Cookies</a></li>
        <li class="list-inline-item"><a class="link-secondary text-decoration-none" href="https://maps.app.goo.gl/Uy7dZ4Na4z2gu3oZ7" target="_blank"><span class="material-symbols-outlined">pin_drop</span></a></li>
        <li class="list-inline-item"><a class="link-secondary text-decoration-none" href="mailto:avbeacon@gmail.com"><span class="material-symbols-outlined">mail</span></a></li>
        <li class="list-inline-item"><a class="link-secondary text-decoration-none" href="tel:+34000000000"><span class="material-symbols-outlined">call</span></a></li>
        <li class="list-inline-item"><p class="m-0 p-0 text-secondary">&copy; <span>2024</span> <strong>AV</strong>BEACON. Todos los derechos reservados.</p></li>
    </ul>
</footer>
